:root {
    --Antracita: #293133;
    --Marengo: #4C5866;
    --Acero: #434b4d;
    --Ceniza: #CDCDCD;
    --sm: 14px;
    --md: 18px;
    --lg: 28px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}


/* Section log in, signup, pasword reset */

.container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .form {
    margin: 0px;
    width: 400px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font: bold;
    color: var(--Antracita);
    margin: 0px;
    font-size: var(--lg);
}

.subtitle {
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    font-size: var(--sm);
}

.help {
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    margin-bottom: 16px;
    font-size: var(--sm);
}

.value {
    color: var(--Ceniza);
    font-weight: 700;
}

p a {
    text-decoration: none;
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    font-size: var(--sm);
}

.input {
    width: 95%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--Ceniza);
    border: none;
    margin-bottom: 12px;
}

.primary-button {
    margin-top: 12px;
    width: 400px;
    height: 48px;
    box-sizing: border-box;
    background-color: var(--Antracita);
    font-family: 'Quicksand';
    color: var(--Ceniza);
    border: none;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: var(--sm);
    font-weight: 700;
}

.edit-button {
    background-color: var(--Ceniza);
    color: var(--Antracita);
    border: solid var(--Antracita) 1px;
}

.edit-button:hover {
    background-color: var(--Acero);
    color: var(--Ceniza);
}

.primary-button:hover {
    background-color: var(--Acero);
}

.label {
    font-size: var(--sm);
    color: var(--Antracita);
    width: 95%;
}

#logo {
    width: 400px;
}

#email-image {
    width: 200px;
    margin: 32px;
    border-radius: 50%;
    background-color: var(--Ceniza);
}

#logo {
    display: none;
}

@media (max-width: 800px) {
    #logo {
        display: flex;
    }
    .form {
        width: 100%;
    }
    .primary-button {
        width: 95%;
    }
}


/*--------------------- Section principal page--------------------- */

.principal {
    width: 100%;
    height: 100vh;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
}


/* section nav bar */

nav {
    display: flex;
    height: 70px;
    border-bottom: solid var(--Ceniza) 1px;
    align-items: center;
    justify-content: space-between;
    color: var(--Antracita);
}

#menu-icon {
    display: none;
}

nav img {
    height: 100%;
    padding-left: 16px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0px;
}

.nav-links li a {
    padding: 25px 12px 25px 8px;
}

.nav-links li:hover>a {
    color: var(--Ceniza);
    background-color: var(--Marengo);
}

nav div {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.account-menu {
    cursor: pointer;
    text-decoration: none;
    color: var(--Marengo);
    font-size: var(--sm);
    display: flex;
    align-items: center;
}

.account-menu img {
    padding: 4px;
    height: 12px;
    width: 12px;
    object-fit: cover;
}

.shopping-cart img {
    height: 20px;
    width: 20px;
    padding: 16px;
    position: relative;
}

.shopping-cart p {
    display: flex;
    font-size: 10px;
    color: var(--Ceniza);
    background-color: var(--Antracita);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 35px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #menu-icon {
        display: flex;
        height: 25px;
    }
    .nav-links {
        display: none;
    }
    .account-menu {
        display: none;
    }
}


/* section product card */

.product-card {
    padding: 10px;
    box-sizing: border-box;
}

.product-card:hover {
    background-color: var(--Ceniza);
    border-radius: 10px;
    width: 251px;
}

.product-card img:nth-child(1) {
    margin: 0px;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
}

.footer-product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-product-card {
    margin-left: 8px;
    margin-top: 4px;
}

.product-card-name {
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.product-card-price {
    margin: 0px;
    font-size: var(--sm);
    color: var(--Acero);
}

#shopping-car-image {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}


/* section product details */

.product-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: solid var(--Ceniza) 1px;
    padding: 8px;
}

.close-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.product-image-desctiption {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-description {
    color: var(--Acero);
    font-size: var(--sm);
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Ceniza);
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.add-to-cart-button:hover {
    background-color: var(--Acero);
}

@media (max-width: 800px) {
    .product-details {
        border: none;
    }
}


/* -------------------------section menu ----------------------- */


/* section menu desktop */

.desktop-menu {
    padding: 0px;
    position: absolute;
    right: 80px;
    top: 70px;
}

.desktop-menu ul {
    width: 150px;
    border: solid var(--Ceniza) 1px;
    background-color: white;
    list-style: none;
    padding: 8px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    font-weight: 700;
}

.desktop-menu ul li {
    text-align: end;
    padding: 12px;
}

.desktop-menu ul li:last-child {
    border-top: solid var(--Ceniza) 1px;
    padding: 16px;
}

.desktop-menu ul li:last-child>a {
    color: var(--Ceniza);
}

.desktop-menu ul li:hover {
    background-color: var(--Acero);
    border-radius: 10px;
}

.desktop-menu ul li:hover>a {
    color: var(--Ceniza);
}

li a {
    text-decoration: none;
    color: var(--Antracita);
}

@media (max-width: 800px) {
    .desktop-menu {
        display: none;
    }
}


/* section menu movile */

.movile-menu {
    display: block;
    width: 100%;
    height: 90vh;
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
}

.movile-menu h2 {
    padding-left: 12px;
}

.movile-menu ul {
    width: 90%;
    list-style: none;
    padding: 0px;
    margin-left: 18px;
    font-weight: 700;
}

.movile-menu ul li {
    padding: 18px 18px 18px 12px;
    margin-top: 18;
}

.movile-menu ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movile-menu ul li img {
    height: 12px;
}

.movile-menu ul li:nth-child(7) {
    border-top: solid var(--Ceniza) 1px;
}

li a {
    text-decoration: none;
    color: var(--Antracita);
}

.footer-menu li {
    font-size: var(--sm);
    color: var(--Marengo);
    margin: 0px;
    padding: 0px;
}

.footer-menu li a {
    color: var(--Marengo);
}

@media (min-width:801px) {
    .movile-menu {
        display: none;
    }
}


/*-------------------------- section my orders---------------------- */

.my-orders-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-order {
    width: 50%;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
    border: solid var(--Ceniza) 2px;
}

.order-status {
    display: flex;
    justify-content: space-between;
    background-color: var(--Ceniza);
    border-radius: 10px;
    padding: 4px;
    box-sizing: border-box;
}

.order-status h3 {
    margin: 20px;
    font-weight: 500;
}

.product-order {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
    border: solid var(--Ceniza) 1px;
}

.product-order div {
    display: flex;
}

.product-order img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.product-order :nth-child(2) {
    color: var(--Antracita);
    font-weight: 500;
    font-size: var(--md);
}

.product-order :nth-child(3) {
    color: var(--Acero);
    font-size: var(--md);
}

@media (max-width: 800px) {
    .my-order {
        width: 90%;
    }
}

.inactive {
    display: none;
}