:root {
    --Antracita: #293133;
    --Marengo: #ffbf8d;
    --Acero: #434b4d;
    --Ceniza: #CDCDCD;
    --sm: 14px;
    --md: 18px;
    --lg: 28px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}


/* Seeccion de log in */

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    border: solid var(--Ceniza);
}

.login .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.login .container .form {
    margin: 12px;
}

.login .container p:nth-child(2) {
    font: bold;
    color: var(--Antracita);
    margin: 0px;
    font-size: var(--lg);
}

.login .container p:nth-child(3) {
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    font-size: var(--sm);
}

.login .container p:nth-child(6) {
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    margin-bottom: 16px;
    font-size: var(--sm);
}

.login .container p:nth-child(7) {
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    font-size: var(--sm);
}

p a {
    text-decoration: none;
    text-align: center;
    color: var(--Acero);
    margin: 0px;
    font-size: var(--sm);
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--Ceniza);
    border: none;
    margin-bottom: 12px;
}

.primary-button {
    margin-top: 12px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: var(--Antracita);
    font-family: 'Quicksand';
    color: var(--Ceniza);
    border: none;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: var(--sm);
}

.primary-button:hover {
    background-color: var(--Acero);
}

.label {
    font-size: var(--sm);
    color: var(--Antracita);
}

#logo {
    width: 80%;
}

#email-image {
    width: 40%;
    margin: 32px;
    border-radius: 50%;
    background-color: var(--Ceniza);
}

@media (min-width: 700px) {
    #logo {
        display: none;
    }
}